/*******************************************************************************
 * General
 ******************************************************************************/

javax-swing-JButton {
	-swing-horizontalalignment: left;
	-swing-verticalalignment: center;
	-swing-margin: 2 5;
	-swing-opaque: false;
	-swing-focusable: false;
}

javax-swing-JScrollPane {
	-swing-border: null;
}

javax-swing-JCheckBox,
javax-swing-JRadioButton,
javax-swing-JToolBar {
	-swing-opaque: false;
}

javax-swing-JToolBar > javax-swing-JButton {
	-swing-margin: 1;
}

aurelienribon-ui-components-Button {
	-ar-fill: lineargradient(0, 0, 0, 1, 0.49, #eceff2, 0.5, #d4dfe7);
	-ar-stroke: #96a5bb;
	-ar-strokethickness: 1;
	-ar-cornerradius: 0;
	-swing-foreground: #242b36;
	-swing-horizontalalignment: left;
	-swing-margin: 2 5;
	-swing-focusable: false;
}

aurelienribon-ui-components-Button:disabled {
	-ar-fill: lineargradient(0, 0, 0, 1, 0.49, #EEE, 0.5, #DDD);
	-ar-stroke: #888;
	-swing-foreground: #888;
}

aurelienribon-ui-components-Button:hover {
	-ar-stroke: #384557;
}

aurelienribon-ui-components-Button:active {
	-ar-fill: #7B8999;
}

aurelienribon-ui-CompactCheckBox {
	-ar-stroke: #617795;
	-ar-fill: #FFF;
}

aurelienribon-ui-CompactCheckBox:disabled {
	-ar-stroke: #AAA;
	-ar-fill: #FFF;
}

/*******************************************************************************
 * Groups
 ******************************************************************************/

.groupPanel {
	-swing-background: #FAFAFA;
	-swing-border: arui-groupborder(noarg);
	-ar-border-stroke: null;
	-ar-border-thickness: 0;
	-ar-border-header-stroke: null;
	-ar-border-header-thickness: 0;
	-ar-border-header-fill: lineargradient(0, 0, 0, 1, 0, #4D6082, 1, #3D5277);
	-ar-border-margin: 3 6;
	-ar-border-foreground: #FFF;
	-ar-border-font: SquareFont plain 14;
}

#configStartPanel {-ar-border-title: "Configuration";}
#configUpdatePanel {-ar-border-title: "Project Selection";}
#classement {-ar-border-title: "Classement";}
#allMatches{-ar-border-title: "All Real Madrid Matchs";}
#welcom{-ar-border-title: "Welcome "; }
#players{-ar-border-title: "Your Real Madrid Idols "; }
#rss {-ar-border-title: "News";}
#librarySelectionPanel {-ar-border-title: "Library Selection";}
#previewPanel {-ar-border-title: "Overview";}
#goPanel {-ar-border-title: "Generation";}
#advancedSettingsPanel {-ar-border-title: "Advanced Settings";}
#libraryInfoPanel {-ar-border-title: "Library information";}
#classpathsPanel {-ar-border-title: "Classpaths Review";}
#processSetupPanel {-ar-border-title: "Launch";}
#processUpdatePanel {-ar-border-title: "Progress Report";}
#aboutPanel {-ar-border-title: "About";}
#helpImportPanel {-ar-border-title: "How-to: Import Projects";}
#helpFixHtmlPanel {-ar-border-title: "How-to: Fix GWT Error";}

#mail {-ar-border-title: "Contact Us";}

#statistics {-ar-border-title: "Statistics for Real Madrid";}




/*******************************************************************************
 * Root panels
 ******************************************************************************/

.rootPanel {
	-ar-fill: texture(url("/res/gfx/bg.png"));
}

.rootPanel > javax-swing-JLabel {
	-swing-foreground: #FFF;
}

/*******************************************************************************
 * Headers
 ******************************************************************************/

.header {
	-swing-background: #BBC8D8;
}

.header javax-swing-JLabel {
	-swing-font-size: 10;
	-swing-border: emptyborder(2, 5, 2, 5);
	-swing-foreground: #3D5277;
}

.headerNumber {
	-swing-font-size: 26;
	-swing-border: emptyborder(0, 5, 0, 0);
	-swing-foreground: #3D5277;
}

/*******************************************************************************
 * Fake panels
 ******************************************************************************/

.optionGroupPanel {
	-ar-fill: #BBC8D8;
}

.optionGroupPanel > javax-swing-JLabel {
	-swing-foreground: #3D5277;
}

/*******************************************************************************
 * LibSetup panel
 ******************************************************************************/

.sectionLabel {
	-swing-border: matteborder(0, 0, 1, 0, #888);
	-swing-font: Sans plain 14;
	-swing-foreground: #888;
}

/*******************************************************************************
 * Task Bar
 ******************************************************************************/

.taskBar {
	-swing-background: #FFF;
}

.taskBar .tile {
	-swing-background: #BBC8D8;
	-swing-foreground: #3D5277;
	-swing-font-size: 10;
}

.taskBar .tile:error {
	-swing-background: #F55;
	-swing-foreground: #500;
}

/*******************************************************************************
 * Start Screen
 ******************************************************************************/

.startQuestionLabel {
	-swing-font-size: 20;
	-swing-foreground: #FFF;
}

.startButton {
	-ar-fill: lineargradient(0, 0, 0, 1, 0.49, #CED5DE, 0.5, #A5B7CD);
	-ar-stroke: #FFF;
	-ar-strokethickness: 2;
	-ar-cornerradius: 15;
	-swing-font-size: 26;
	-swing-horizontalalignment: center;
}

.startButton:hover {
	-ar-stroke: #7B8999;
}

.startButton:active {
	-ar-fill: #7B8999;
}

/*******************************************************************************
 * Nice Button
 ******************************************************************************/


.niceButton {
	-swing-horizontalalignment: center;
	-swing-verticalalignment: center;
	-swing-margin: 3 5;
	-swing-foreground: #000;
        -swing-font-style: bold;
	
         -ar-cornerradius: 15;

        
}

.niceButton:hover {
	-ar-stroke: #000 ; 
}

.niceButton:active {
	-ar-fill: #7B8999;
}

/*******************************************************************************
 * Misc
 ******************************************************************************/

.linkLabel {-swing-foreground: #008;}
.linkLabel:hover {-swing-foreground: #55F;}

.libInfoDescLabel {-swing-font-size: 13;}
.libInfoTitleLabel {
	-swing-foreground: #3D5277;
	-swing-font-size: 20;
	-swing-font-style: bold;
	-swing-border: matteborder(0, 0, 1, 0, #3D5277);
}

.helpNumber {
	-swing-font-size: 30;
	-swing-horizontalalignment: center;
	-swing-verticalalignment: center;
	-swing-opaque: true;
	-swing-background: #CED5DE;
	-swing-foreground: #242b36;
}

.progressArea {
	-swing-margin: 5 10;
	-swing-font-size: 11;
}

.statusLabel:error {-swing-foreground: #800;}
.statusLabel:valid {-swing-foreground: #080;}
.statusLabel:notfound {-swing-foreground: #800; -swing-text: "Not found";}
.statusLabel:found {-swing-foreground: #080; -swing-text: "Found";}

.frame {-swing-border: lineborder(#3D5277, 1);}
.bold {-swing-font-style: bold;}
.center {-swing-horizontalalignment: center;}

.versionLabel {
	-swing-background: #FFF;
	-swing-foreground: #000;
	-swing-font-size: 10;
	-swing-opaque: true;
	-swing-border: emptyborder(1, 10, 1, 10);
}
.versionLabel:error {-swing-foreground: #800;}
.versionLabel:newVersion {-swing-foreground: #080;}

.aboutTitleLabel {
	-swing-font-size: 30;
	-swing-font-style: bold;
}

/****** table*/
#table {
    -swing-background: #C0C0C0;
    
}